@import "https://fonts.googleapis.com/css?family=Ubuntu:400";
body {
  background: #eef1f3;
  font-family: "Ubuntu", Verdana, serif;
  font-size: 14px;
}

#description {
  line-height: 1.5em;
  font-size: 1.5em;
  margin: 2em;
}
#description li {
  margin-left: 2em;
}

#main-box {
  border: solid 1px black;
  padding: 1em;
  border-radius: 1.5em;
  max-width: 1000px;
  margin: auto;
}

#title {
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.2em;
}

#title-sep {
  width: 100%;
  border: solid 1px #d3d3d3;
  margin: 1em 0;
}

#pb-container {
  border: solid 1px black;
  padding: 0.3em;
  border-radius: 20px;
}

#progress-bar {
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
}
#progress-bar span {
  display: block;
}

#bar {
  background: #d3d3d3;
  position: relative;
  height: 0.75em;
}

.task2-sep_container {
  display: flex;
  justify-content: left;
  width: 100%;
}

.task2-sep {
  height: 1em;
  width: 20%;
  display: inline-block;
  border: solid 1px red;
  border-width: 0 1px 0 0;
  text-align: center;
  font-size: 1.5em;
  visibility: hidden;
}

#progress {
  background: #e74c3c;
  height: 0.75em;
  width: 80%;
  float: right;
}

#btn-container {
  display: flex;
  width: 100%;
  margin-top: 1.2em;
}

.timer-button {
  width: 4.2em;
  margin-left: 0.5rem;
  border-radius: 10%;
  font-family: "Ubuntu", Verdana, serif;
  font-size: 2em;
  background-color: transparent;
  outline: 0;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

#button-sep {
  border: solid 1px #d3d3d3;
  margin-left: 0.5rem;
}

.btn-ghost-grey {
  border: 2px solid #d3d3d3;
}
.btn-ghost-grey:hover {
  background-color: #d3d3d3;
}
.btn-ghost-grey:active {
  background-color: #bababa;
}

#counter-container {
  border: solid 1px black;
  border-radius: 0.75em;
  margin-left: auto;
  display: table;
  border-collapse: separate;
  border-spacing: 0.2em;
}

#counter {
  border: solid 1px black;
  padding: 0.2em;
  min-width: 2.2em;
  text-align: center;
  font-family: serif;
  font-size: 2.5em;
  border-radius: 0.2em;
  vertical-align: middle;
  display: table-cell;
}

#exam-mode-wrapper {
  margin-top: 0.5em;
  font-size: 1.5em;
  text-align: right;
}

#exam-mode {
  -webkit-transform: scale(1.5);
  margin-left: 0.2em;
  vertical-align: middle;
  accent-color: #d3d3d3;
}

#skip-preparation {
  font-size: 1.2em;
  text-align: center;
  width: 7em;
  white-space: normal;
}

@media (max-width: 1000px), (max-height: 500px) {
  body {
    font-size: 1.6vw;
  }

  #main-box {
    padding: 0.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  #pb-container {
    padding: 0.1em;
  }

  #title-sep {
    margin: 0.5em 0;
    display: none;
  }

  #title {
    display: none;
  }

  #btn-container {
    margin-top: 0.6em;
  }

  #exam-mode-wrapper {
    margin-top: 0.5em;
  }

  #exam-mode {
    margin-left: 0.1em;
    -webkit-transform: scale(1);
  }

  .task2_sep {
    height: 0.75em;
    font-size: 1em;
    font-weight: bold;
  }

  #counter {
    margin: 0;
    border: none;
  }

  #button-sep {
    display: none;
  }

  .timer-button {
    border-width: 1px 0 1px 1px;
    border-radius: 0;
    margin-left: 0;
  }

  #skip-preparation {
    border-width: 1px;
  }

  #counter-container {
    border-radius: 0.5em;
    margin-left: 1em;
  }

  #description {
    display: none;
    margin: 1em;
  }
  #description li {
    margin-left: 0;
  }
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.no-hover:hover {
  background-color: transparent;
}

h1 {
  text-align: center;
  font-size: 4em;
}

#run-timer_button {
  font-size: 2em;
  padding: 0.5em;
  width: 7em;
}